<div class="container">
  <div class="row my-2">
    <div class="d-flex">
      <h4>Language Sample Collection Details</h4>
    </div>
  </div>
  <div class="row mb-5">
    <form [formGroup]="formGroup">
      <section class="my-3">
        <label for="collectionName" class="mb-1">Collection Name</label>
        <input id="collectionName" type="text" class="form-control" placeholder="Enter collection name" formControlName="name"/>
      </section>
      <section class="my-3">
        <label for="collectionComment" class="mb-1">Comment</label>
        <input id="collectionComment" type="text" class="form-control" placeholder="Enter comment" formControlName="comment"/>
      </section>
      <section class="my-3">
        <button type="button" class="btn btn-primary me-3" (click)="saveCollectionDetails()" [disabled]="saveDisabled()">Save Details</button>
        <button type="button" class="btn btn-secondary me-3" (click)="discardCollectionsDetails()" [disabled]="discardDisabled()">Discard</button>
        <button type="button" class="btn btn-secondary me-3" (click)="close()" [disabled]="closeDisabled()">Close</button>
      </section>
    </form>
  </div>

  <div class="row mb-3">
    <h4>Language Samples</h4>
  </div>
  <div class="row mb-3">
    <div class="container">
      <div class="row">
        <table class="table table-hover ms-3">
          <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let languageSample of getLanguages()">
              <td>{{languageSample.name}}</td>
              <td>
                <button type="button" class="btn btn-outline-primary me-3" (click)="openLanguageSample(languageSample.id)">Open</button>
                <button type="button" class="btn btn-outline-danger me-3" (click)="removeLanguageSample(languageSample)">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mt-2">
        <div>
          <button type="button" class="btn btn-primary me-3" (click)="addNewLanguage()" [disabled]="!addNewLanguageEnabled()">Add New Language</button>
        </div>
      </div>
    </div>
  </div>
</div>
