.main-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 20px;
}

.input-content {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    min-width: 300px;
}

.lang-collection-selector {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

select {
    max-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.dimension {
    display: flex;
    flex-flow: row;
}

.sample-text {
    display: flex;
    justify-content: center;  
}

textarea {
    width: 90%;
    resize: none;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 4px;
  padding: 5px;
}

.result-content {
  flex-grow: 1;
  min-width: 300px;
}
