<div class="main-content">
  <div class="input-content">
    <div class="lang-collection-selector">
      <p>Using language collection</p>
      <select disabled>
        <option value="default">Default</option>
      </select>
    </div>
    <div class="dimension">
      <p>Dimension: {{ dimension }}</p>
    </div>
    <div class="sample-text">
      <textarea cols="60" rows="20"></textarea>
    </div>
    <div class="buttons">
      <button type="button">Clear</button>
      <button type="button">Detect</button>
    </div>
  </div>
  <div class="result-content"></div>
</div>
