<div class="main-content">
  <div class="input-content">
    <div class="lang-collection-selector" *ngIf="samplesSelectorEnabled">
      <p>Using language collection</p>
      <select disabled>
        <option value="default">Default</option>
      </select>
    </div>
    <div class="dimension" *ngIf="dimensionsEnabled">
      <p>Dimension: {{ dimension }}</p>
    </div>
    <div class="sample-text">
      <h3>Sample text</h3>
      <textarea rows="20" [(ngModel)]="text"></textarea>
    </div>
    <div class="buttons">
      <button type="button" (click)="onClear()" [disabled]="!buttonsEnabled">Clear</button>
      <button type="button" (click)="onDetect()" [disabled]="!buttonsEnabled">Detect</button>
    </div>
    <div class="duration" *ngIf="!!result">
      <p>Duration: {{result.durationMillisec}} ms</p>
    </div>
  </div>
  <div class="result-content">
    <div class="result-table" *ngIf="!result">
      <h3>No result</h3>
    </div>
    <div class="result-table" *ngIf="result">
      <h3>Results</h3>
      <table>
        <tr>
          <th>Language Name</th>
          <th>Similarity Value</th>
        </tr>
        <tr *ngFor="let res of result.similarityValues">
          <td>{{res.name}}</td>
          <td>{{res.value}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
