<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <!--<div class="lang-collection-selector" *ngIf="samplesSelectorEnabled">
    <p>Using language collection</p>
    <select disabled>
      <option value="default">Default</option>
    </select>
  </div>
  <div class="dimension" *ngIf="dimensionsEnabled">
    <p>Dimension: {{ dimension }}</p>
  </div>-->
      <div class="mb-3 mt-3">
        <h3>Sample text</h3>
      </div>
      <div class="mb-3">
        <textarea class="form-control" rows="14" [(ngModel)]="text"></textarea>
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-primary m-1" role="group" (click)="onDetect()" [disabled]="!buttonsEnabled">Detect</button>
        <button type="button" class="btn btn-secondary m-1" role="group" (click)="onClear()" [disabled]="!buttonsEnabled">Clear</button>
      </div>
      <div class="mb-3 m-1" *ngIf="!!result">
        <p>Duration: {{result.durationMillisec}} ms</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="mb-3 mt-3" *ngIf="!result">
        <h3>No result</h3>
      </div>
      <div class="mb-3 mt-3" *ngIf="result">
        <h3>Results</h3>
      </div>
      <div class="mb-3" *ngIf="result">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Language Name</th>
              <th>Similarity Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let res of result.similarityValues; index as i" [ngClass]="{'table-info significant': isSignificant(i)}">
              <td>{{res.name}}</td>
              <td>{{res.value | number: '1.4-4'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
