<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Language Detector</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            (click)="isCollapsed = !isCollapsed"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item"><a class="nav-link" routerLink="/default-detector" routerLinkActive="active">Default Detector</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/custom-detector" routerLinkActive="active">Custom Detector</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/language-admin" routerLinkActive="active">Admin</a></li>
        <li class="nav-item"><a class="btn btn-outline-primary" (click)="login()" *ngIf="!isAuthenticated">Login</a></li>
        <li class="nav-item"><a class="btn btn-outline-primary" (click)="logout()" *ngIf="isAuthenticated">Logout</a></li>
      </ul>
      <span class="badge" *ngIf="isAuthenticated">{{userName}}</span>
    </div>
  </div>
</nav>
